/* CIT 230 - WeaterSite CSS medium */
@media (min-width:600px) {
    header {
        max-width: 900px;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    main {
        max-width: 900px;
    }

    article {
        max-width: 900px;
        
    }

    aside {
        max-width: 900px;
    }

    /* -----------------footer-------------------*/
    footer {
        max-width: 900px;
    }

    .social {
        max-width: 50px;
    }

    /* ---------------Gallery-------------*/
    .gallery {
        max-width: 900px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;

    }
     /* ------------------json data-------*/

     .articlejson {
     
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
      
    }



}