/* CSS commnets will note rubric requirements */

/* CSS Animation for Header Rubric */
@keyframes header {
    0% {
      background-color: red;
      color: green;
    }
  
    25% {
      background-color: yellow;
      color: blue;
    }
  
    50% {
      background-color: blue;
      color: red;
    }
  
    100% {
      background-color: green;
      color: yellow;
    }
  }
  /* CSS Animation and Transform for Winning announcement Rubric */
  @keyframes win {
    0% {
      transform: rotate(0deg) scale(1);
    }
    100% {
      transform: rotate(360deg) scale(2);
    }
  }
  
  header h1 {
    padding: 8px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    top: 5px;
    background-color: green;
    animation-name: header;
    animation-duration: 8s;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }
  body {background-color: lightgray;}
  
  td {
    border: 3px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 75px;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 100px;
  }
  
  .endgame {
    display: none;
  }
  
  .end-animate {
    width: 100px;
    top: 220px;
    background-color: green;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    margin-left: -46px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    animation: 2s win;
    animation-fill-mode: forwards;
  }
   /* CSS Transform for button Rubric */
  .button {
    padding: 8px;
    width: 250px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: 450px;
    transition: border-radius 0.5s;
  
  }
  
  button:hover {
    background: gray;
    color: whitesmoke;
    border-radius: 30px;
  }
  
  button:hover {
    background: gray;
  }
  
  #quoteDisplay {
    padding: 8px;
    border: 4px solid black;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    top: 550px;
  }
  