/* CIT 230 - WeaterSite CSS Template */
/* You may use #HEX or color names */
/* * is a wildcard referring to all elements. */
*  { margin: 0; box-sizing: border-box; }
body {
    font-size: 16px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    }
h1  {
    font-size: 2rem;
    color: black;
    }
h2  {
    font-size: 1.5rem;
    text-align:center;
    border-bottom: 5px solid black;
    }
header, main, nav, footer
    {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 700px;
    }
header, footer
    {
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    }
header img 
    {
    width: 150px;
    height: auto;
    float: left;
    }
nav
    {
    padding: 1em 2em;
    font-size: 1.2em;
    text-align: left;
    background-color: brown;
    color: Black;
    }

.navli a {
        width: 100%;
        color: green;
        padding: 8px 16px;
        display: inline;
 /*       text-decoration: none; */ 
        }
li a:link { color: green }
li a:visited { color: darkgreen }
li a:focus { color: black }
li a:hover { color: lime }
li a:active { color: Red}
    {
    background-color: #000066;
    color: white;
    }
.active 
    {
    background-color: #6699ff;
    color: white;
    }
footer {font-size: smaller;}