/* CIT 230 - WeaterSite CSS Template */
/* You may use #HEX or color names */
/* * is a wildcard referring to all elements. */

*  { margin: 0; box-sizing: border-box; }
body {
    font-size: 16px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    }
h1  {
    font-size: 2rem;
    color: black;
    }
h2  {
    font-size: 1.5rem;
    text-align:center;
    }
header, main, nav, footer
    {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
    }
header, footer
    {
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    }
header img 
    {
    width: 150px;
    height: auto;
    float: left;
    }
nav
    {
        display:block;
    padding: 8px 16px;
    font-size: 1.2em;
    text-align: left;
    background-color: lightseagreen;
    color: Black;
    }
    li a   {
    display: inline-block;
    border: 2em;
    float: none;
    }
li a:link { color: whitesmoke}
li a:visited { color: darkgreen }
li a:focus { color: black }
li a:hover { color: lime; background-color: green}
li a:active { color: Red}
footer {font-size: smaller;}