/* CIT 230 - WeaterSite CSS  */
{ margin: 0; box-sizing: border-box; }
body {
    font-size: 16px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    }
h1  {
    font-size: 1.5rem;
    color: black;
    }
h2  {
    font-size: 1.5rem;
    text-align:center;
    }
h3  {
    font-size: 1.5rem;
    text-align:center;
    color: whitesmoke;
    }
header, main, nav, footer
    {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
    }
header, footer
    {
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    }
header img 
    {
    width: 100px;
    height: auto;
    
     }
main
    { 
    background-color: blue;
    text-align: center;
    }
main img
{   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: auto;
    height: auto;
    
    }
.motto
{
    display: inline-block;
}
nav
    {
    padding: 8px 8px;
    font-size: 1em;
    text-align: center;
    background-color: lightseagreen;
    color: Black;
    }
li {list-style-type: none; }
li a:link { color: whitesmoke}
li a:visited { color: darkgreen }
li a:focus { color: black }
li:hover { background-color: green}
li a:active { color: Red}
footer {font-size:1em;}