/* Temple Inn and Suites CSS Large */
@media (min-width:900px) {

  body {
    max-width: 1000px;
    margin: Auto;
  }


  /*-----------------Header --------------*/
  header {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1000px;
  }


  /*-----------------Nav --------------*/
  nav {
    Border: 5px solid Black;
    font-size: .8em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  nav button {
    display: none;
  }

  nav ul.hide {
    display: block;
  }

  Nav ul li {
    display: inline-block;
    border: 1px;
    float: none;
  }

  Nav ul li a {
    padding: 8px;
  }

  /*-----------------services --------------*/

  .serv-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;

  }















    /*-----------------Footer --------------*/
    footer {
      max-width: 1000px;
    }

    .contact {
      display: grid;
      grid: 220px / 220px 400px;
      grid-gap: 10px;
      padding: 10px;
    }


    .info {
      margin: 1.25rem auto;
      padding: .5rem;
      max-width: 800px;
    }

    .social {
      max-width: 35px;
    }

    .container {
      margin-left: auto;
    }


  }