/* Temple Inn and Suites CSS medium */
@media (min-width:600px) {

    body {
        max-width: 600px;
        margin: Auto;
    }

    .hotelcont {
        Display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        }




}