/* CIT 230 - WeaterSite CSS medium */
@media (min-width:600px) {
    header {
        max-width: 900px;
    }

    main {

        max-width: 900px;
    }

   
    article {
        max-width: 900px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }

    footer {
        max-width: 9000px;
    }
/* ------------------json data-------*/


.articlejson {
    border-collapse: collapse;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    text-align: center;
       
}

.articlejson div {
    border: 4px solid Black;
    border-radius: 25px;
    margin: 0px;
    background-color: lightblue;
    color: black;
}
.articlejson H5 {
    border: 4px solid Black;
    border-radius: 25px; 


}
.homePhoto {
    border: 4px solid blue;
    border-radius: 10px;
    margin: 20px;
    width: 100%;
} 
/* ------------------json data-------*/

    .social {
        max-width: 10%;

    }


    .gallery {
        max-width: 900px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;

    }
}